

.box {
  border: 1px solid black;
  width:100%;
  height:780px;
  background-color: black;

}

.input {
    width:33%;
    margin:auto;
   
   
    color:black;
   
}

.heading {
  
    color:white;
    
}

.container {
    margin:auto;
    display:flex;
    margin-top: 30px;
    margin-left: 25%;

    gap: 16px
}

.subHeading {
    color: white;
    margin-top: 20px;
    font-size: 9px;
    font-weight: 800;
    /* margin:auto; */
}

.btnBox {
    margin-top: 18px;
    margin-left: 10px;
}

.btn {
    background-color: white;
    border-radius: 10px;
   
}

.hiddenDiv {
    margin-top: 10px;
    border-radius: 10px;

}

.liBox {
    margin-left: 1%;
    text-align: center;
    /* border: 1px solid red; */
    width:100%;

}

.li {
    width: 100%;
    height: 55px;
   
    /* margin: auto; */
    border: 1px solid white;
    background-color: white;
    margin-top: 20px;
    border-radius: 18px;
    font-size: 20px;
    
    font-weight: 900;


}

.button {
    background-color: white;
    border-radius: 15px;

    margin-top: 20px;
}
